doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        include ./header.pug
        
        h1 Bienvenidos a la web de Productos
        div.content#id_content
            p=msj
        h3 ¿Que desayunamos?
        ul
            each meal in breakfast
                li= meal
        script(src="script.js") 
        include ./footer.pug

        